httpx
huggingface-hub
langchain
langchain-huggingface
langchain-community
langchain-core
langchain-openai
numpy
openai
pandas
streamlit
streamlit_modal
sentence-transformers
faiss_cpu
pydantic
pypdf
python-dotenv

